TELEGRAM_BOT_TOKEN=123456:AABBGGFFKKSSLL
OPENAI_API_KEY=sk-XXXXXXXXXXXXXXXX
GPT_BASE_URL=https://api.vsegpt.ru/v1
GPT_MODEL=openai/gpt-4o-mini
OPENWEATHER_API_KEY=your_openweather_api_key_here
TRANSLATE_API_KEY=your_translate_api_key_here